.mat-dialog-container {
    position: relative;
    padding: 0;
    border-radius: 0 !important;
    overflow: hidden;
    width: 640px;
    height: 340px;

    // background-color: black;

    // max-width: 100vw !important;
    // width: 100vw !important;
    // height: 100vh !important;
    // position: relative;
    // padding: 0;
    // border-radius: 0 !important;
    // overflow: hidden;
}

button.play-again-btn {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4em;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 88%;
    right: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;

    &:hover {
        transform: translate(50%, -50%) scale(1.1);
        transition: transform 0.3s ease;
        border: none !important;
    }

    @media (max-width: 600px) {
        font-size: 2em;
    }
}

.game-over-screen-img {
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    position: absolute !important;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}