.player {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px; 
    

    span {
        font-size: 32px;
        margin-left: 16px;
        color: white;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}