.start-screen {
    background-color: black;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 960px) {
        overflow: hidden;
    }

    >img {
        width: 80%;
        height: auto;
        object-fit: cover;

        @media (max-width: 960px) {
            width: 600px;
        }

        @media (max-width: 520px) {
            width: 400px;
        }
    }

}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: auto;
    display: flex;
    justify-content: center;

    >img {
        width: 32vw;
        height: auto;

        @media (max-width: 960px) {
            width: 240px;
        }

        &:hover {
            filter: brightness(1.75);
            cursor: pointer;
        }
    }

}