.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 4px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}

mat-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

mat-dialog-container {
    width: 400px;
    height: auto;
    border-radius: 8px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.profile-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    margin-top: 12px;
}

.delete-player-btn {
    background: none;
    border: none;
    color: red;
    width: 108px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    padding: 8px;
    font-size: 1em;

    &:hover {
        transition: all 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 24px;
}