.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 4px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}

mat-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    height: auto;
    overflow: hidden;
    // border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}

mat-dialog-container {
    width: 400px;
    height: auto;
    // background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px !important;
    display: flex !important;
    justify-content: center !important;
    /* width: 90%; */
    // flex-direction: column;
    align-items: center;


}