.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    // background-image: url('/angular-projects/ringoffire/assets/img/board.jpg');
    background-image: url('/assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 32px;
    transform: scale(1) translateX(140px) translateY(-224px) rotate(27deg);
}

.pick-card {
    animation: pick-card-animation 1s forwards ease-in-out;
    transform: scale(1) translateX(140px) translateY(-224px) rotate(27deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1) translateX(140px) translateY(-224px) rotate(27deg);
    }
}

.players-container {
    // background-color: aqua;
    height: 86vh;
    width: 50vw;
    position: absolute;
    right: 0;
    overflow-y: auto;
}

.playersContainer::-webkit-scrollbar {
    width: 6px;
}

.playersContainer::-webkit-scrollbar-track {
    background: transparent;
}

.playersContainer::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 4px;
}

.player-position {
    position: absolute;
    right: 0;
    width: 260px;
    max-width: 260px;
    z-index: 1;
}

.players-mobile-container {
    background-color: cornflowerblue;
    display: flex;
    height: 120px;
    width: 100vw;
    position: absolute;
    right: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}



.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 132px;
    right: 132px;
    padding: 16px;
    border-radius: 0px !important;

    @media (max-width: 720px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}