<div class="field">

    <div class="card-stack">
        @for (c of [0, 1, 2, 3, 4]; track c; let i = $index;) {
        <img src="assets/img/cards_old/card_cover.png" alt="" [ngStyle]="{ 'right.px': (i * 5)}">
        }

        <img (click)="takeCard()" class="top-card" style="right: 32px;" src="assets/img/cards_old/card_cover.png"
            alt="">
        <!-- <img (click)="takeCard()"  @if=(pickCardAnimation) class="top-card pickCardAnimation" style="right: 32px;" src="assets/img/cards_old/spade_1.png" alt=""> -->

        @if (pickCardAnimation) {
        <img  class="pick-card" style="right: 32px;"
            src="assets/img/cards_old/{{ currentCard }}.png" alt="">

        }

    </div>

</div>