@use '@angular/material' as mat;

:root {
  @include mat.dialog-overrides((container-color: orange,
      subhead-color: red,
    ));
}

.mat-dialog-container {
  background-color: rgba(0, 0, 0, 1.0);
  color: white;
  border-radius: 8px !important;;

  h2 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    ;
  }
}

.mat-dialog-container button {
  font-family: 'Courier New', Courier, monospace;
  background-color: orange;
  color: black;
  border: none;

  &:hover {
    background-color: rgb(192, 108, 4);
    cursor: pointer;
  }
}

button[mat-button][disabled] {
  background-color: #e0e0e0 !important; 
  color: #888 !important;               
  cursor: not-allowed;
  border: none;
 
}

.profile-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    margin-top: 12px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 4px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}