.player-mobile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    // gap: 8px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border-bottom-right-radius: 56px;
    border-bottom-left-radius: 56px;


    span {
        font-size: 24px;
        // margin-left: 16px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        text-overflow: hidden;
        white-space: nowrap;
        max-width: 80px;
        display: inline-block;
    }

    img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-mobile-active {
    border: 3px solid orange;

}


.delete-player-btn {
    // background-color: red;
    position: absolute;
    top: 0;
    left: 64px;
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    width: 16px;
    height: 18px;
    // border-radius: 12px;
    cursor: pointer;
    padding-bottom: 2px;
    line-height: 2px;
    font-size: 2em;
    // font-weight: bold;
}