* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// @mixin dFlex($jc: center, $ai: center, $fd: column) {
//     display: flex;
//     justify-content: $jc;
//     align-items: $ai;
//     flex-direction: $fd;
// }