<mat-card class="custom-game-info-card">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (gameOver) {
        <p>Game over! Start a new game.</p>
        } @else if (addPlayerNote) {
        <p class="add-player-note">{{ addPlayerNote }}</p>
        } @else {
        <p>{{ description }}</p>
        }
    </mat-card-content>
</mat-card>



<!-- <mat-card class="custom-game-info-card">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (gameOver) {
        <p>Game over! Start a new game.</p>
        } @else if (addPlayerNote) {
        <p class="add-player-note">{{ addPlayerNote }}</p>
        } @else {
        <p>{{ description }}</p>
        }
    </mat-card-content>
</mat-card> -->




<!-- <mat-card-content>
    @if (addPlayerNote) {
    <p class="add-player-note">{{ addPlayerNote }}</p>
    } @else {
    <p>{{ description }}</p>
    }
</mat-card-content> -->



<!-- Hello,
I would like to connect to our conversation from yesterday.
I copied the newGame() function to game-over-screen.ts and conntected all varialbles.

in my game-info.html I had the following code for the mat-card-content:
'<mat-card-content>
    @if (addPlayerNote) {
    <p class="add-player-note">{{ addPlayerNote }}</p>
    } @else {
    <p>{{ description }}</p>
    }
</mat-card-content>
'
and I changed it to this:
'
' -->