<mat-card class="custom-game-info-card">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (addPlayerNote) {
        <p class="add-player-note">{{ addPlayerNote }}</p>
        } @else {
        <p>{{ description }}</p>
        }
    </mat-card-content>
</mat-card>



<!-- <mat-card class="custom-game-info-card">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (gameOver) {
        <p>Game over! Start a new game.</p>
        } @else if (addPlayerNote) {
        <p class="add-player-note">{{ addPlayerNote }}</p>
        } @else {
        <p>{{ description }}</p>
        }
    </mat-card-content>
</mat-card> -->

